<% layout('layouts/boilerplate') %>

    <h1> List semua perkemahan</h1>

    <div>
        <a href="/perkemahan/new">Buat kemah baru</a>
    </div>
    <% for (kemah of findPerkemahan){%>
        <div class="card">
            <div class="row">
                <div class="col-md-4">
                    <% if (kemah.gambar.length) { %>
                        <img src="<%= kemah.gambar[0].url  %>" class="img-fluid" alt="">
                        <% } %>
                </div>

                <div class="col-md-8">
                    <h5>
                        <%= kemah.judul %>
                    </h5>
                    <p>
                        <%= kemah.deskripsi %>
                    </p>
                    <small>
            <%= kemah.lokasi %>
          </small>
                    <div>
                        <small>
              <a href="/perkemahan/<%=kemah._id%>">View <%=kemah.judul%></a>
            </small>
                    </div>
                </div>


            </div>
        </div>



        <a href="perkemahan/<%= kemah._id %>">

        </a>
        <% } %>